<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!--Google Maps Head -->
    <style> 
      #map {
        height: 600px;
        width: 100%;
       }

      #table_div {
        height: 1000px;
        width: 40%;
       }

    </style>


<!-- Google Table Head -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Project Name');
        data.addColumn('string', 'Operator Status');
        data.addColumn('number', 'Percentage Share (%)');
        data.addColumn('string', 'Activity Type');

        {% for project in intern_prj_data %}
          data.addRows([
          ['{{project.project_name}}','{{project.opr_status}}',{{project.percent_share}},'{{project.activity_type}}']
          ]);
        {% endfor %}

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="">All books</a></li>
          <li><a href="">All authors</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>

  <!-- Google Maps Body-->
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script >
      var map;
      function initMap() {

        //var uluru = {lat:{{intern_prj_data.0.latitude}}, lng:{{intern_prj_data.0.longitude}}};
        var lat = 15;
        var long = 100;
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
        // center: uluru
        //center: new google.maps.LatLng(-33.92, 151.25)
          center: new google.maps.LatLng(lat,long)
        });

        // var marker = new google.maps.Marker({
        //   position: {lat:{{intern_prj_data.0.latitude}}, lng:{{intern_prj_data.0.longitude}}},
        //   map: map,
        //   title: 'Hello World!'
        // });

        // Function for adding a marker to the page.
        function addMarker(lati,longi) {
            marker = new google.maps.Marker({
                position: {lat:lati, lng:longi},
                map: map
            });
        }

        // var contentString = 
        //     '<div id="content">'+
        //       '<div id="siteNotice">'+
        //       '</div>'+
        //     '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
        //     '<div id="bodyContent">'+
        //       '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
        //       'sandstone rock formation in the southern part of the '+
        //       'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
        //       'south west of the nearest large town, Alice Springs; 450&#160;km '+
        //       '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
        //       'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        //       'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        //       'Aboriginal people of the area. It has many springs, waterholes, '+
        //       'rock caves and ancient paintings. Uluru is listed as a World '+
        //       'Heritage Site.</p>'+

        //     '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
        //      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
        //       '(last visited June 22, 2009).</p>'+
        //     '</div>'+
        //     '</div>';


        {% for project in intern_prj_data %}
          var marker = new google.maps.Marker({
            position: {lat:{{project.latitude}}, lng:{{project.longitude}}},
            map: map,
            clickable: true,
            title: 'Hello World!'
          });

          marker.info = new google.maps.InfoWindow({
          content:
            '<p>Project Name: <b>{{project.project_name}} </b></p>'+
            '<p>Operating Status: <b>{{project.opr_status}} </b></p>'+
            '<p>Activity: <b>{{project.activity_type}} </b></p>'
          });
          
          google.maps.event.addListener(marker, 'click', function() {
          var marker_map = this.getMap();
          this.info.open(marker_map, this);
          });
          
          // marker.addListener('click', function() {
          // infowindow.open(map, marker);
          // });
        {% endfor %}

      }

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEqy_Jm7JyXQGOi-J_BtQwIn_E9v1tlIo&callback=initMap">
    </script>


    <!-- Google Table Body -->
    <div id="table_div"></div>    

    
</body>
</html>